.joinRequestCard {
    display: flex;
    width: 400px;
    justify-content: space-between;
    border: 1px rgb(223, 223, 223) solid;
    border-radius: 4px;
    padding: 6px 10px;
    background-color: rgb(243, 243, 243);
    height: fit-content;
    align-items: center;
}

.joinRequestButtons {
    display: flex;
    gap: 4px;
}

.joinRequestButtons .accept {
    border: none;
    background-color: rgb(78, 78, 255);
    color: white;
    padding: 6px 8px;
    border-radius: 4px;
    cursor: pointer;
}

.joinRequestButtons .reject {
    border: 1px grey solid;
    background-color: rgba(0, 0, 0, 0);
    color: rgb(80, 80, 80);
    padding: 6px 8px;
    border-radius: 4px;
    cursor: pointer;
}


/* 안녕하십니까 */

.groupContainer {
    display: flex;
    width: calc(100vw - 240px);
    height: calc(100vh - 4rem);
    background-color: rgb(249, 249, 251);
}

.mainContents {
    width: 100%;
    height: calc(100vh - 4rem);
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.rightSidebar {
    width: 400px;
    padding: 0.5rem;
}

.groupInfo {
    display: flex;
    width: 100%;
    height: auto;
    padding: 1rem;
    gap: 1.2rem;
    background-color: white;
    border: 1px solid rgb(228, 228, 228);

}

.groupImage {
    width: 150px;
    height: 150px;
    background-color: grey;
    border-radius: 8px;
    flex-shrink: 0;
}

.groupDetail {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
}

.titleAndBadge {
    display: flex;
    height: auto;
    align-items: center;
    gap: 8px;
}

.badge {
    padding: 6px 10px 4px;
    font-size: 0.75rem;
    border-radius: 40px;
    background-color: rgb(231, 231, 255);
    display: inline-block;
    color: rgb(76, 76, 151);
}

.groupDescription {
    color: rgb(77, 77, 77);
}

.infoBadge {
    padding: 6px 10px 4px;
    font-size: 0.75rem;
    border-radius: 40px;
    background-color: rgb(222, 222, 222);
    display: flex;
    width: fit-content;
    color: rgb(82, 82, 82);
    gap: 2px;
}

.groupButtons {
    width: 140px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: center;
}

.dashboardCards {
    display: flex;
    height: auto;
    border-radius: 0.5rem;
    padding: 1rem;
    gap: 1.2rem;
    background-color: white;
    border: 1px solid rgb(228, 228, 228);
}

.groupMembersList {
    width: 240px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
}
.userListUser {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.userProfilePicture {
    width: 30px;
    height: 30px;
    background-color: grey;
    border-radius: 30px;
}


.membersAndPosts {
    display: flex;
    gap: 1rem;
    height: 100%;
}

.announcementAndPosts {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

.groupPostsList {
    height: fit-content;
    display: flex;
    flex-direction: column;
}

.postItem {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border: 1px solid rgb(238, 238, 238);
    border-radius: 0.5rem;
    padding: 1rem;
}

.postDate {
    color: rgb(135, 135, 135);
    font-size: 1rem;
}

.userAndBookmark {
    display: flex;
    justify-content: space-between;
}

.languageAndViewCount {
    display: flex;
    justify-content: space-between;
}

.viewCount {
    display: flex;
    align-items: center;
    color: grey;
    gap: 0.1rem;
}

.statistic {
    height: 400px;
}