.joinRequestCard {
    display: flex;
    width: 400px;
    justify-content: space-between;
    border: 1px rgb(223, 223, 223) solid;
    border-radius: 4px;
    padding: 6px 10px;
    background-color: rgb(243, 243, 243);
    height: fit-content;
    align-items: center;
}

.joinRequestButtons {
    display: flex;
    gap: 4px;
}

.joinRequestButtons .accept {
    border: none;
    background-color: rgb(78, 78, 255);
    color: white;
    padding: 6px 8px;
    border-radius: 4px;
    cursor: pointer;
}

.joinRequestButtons .reject {
    border: 1px grey solid;
    background-color: rgba(0, 0, 0, 0);
    color: rgb(80, 80, 80);
    padding: 6px 8px;
    border-radius: 4px;
    cursor: pointer;
}