* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

.primaryButton {
  background-color: rgb(68, 111, 255);
  padding: 0.75rem 1rem;
  color: white;
  border-radius: 0.25rem;
  display: inline-block;
  border: none;
  width: 100%;
  font-weight: 500;
  font-size: 0.9rem;
  text-align: center;
}